RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^mukemmeltarifler\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mukemmeltarifler\.com$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?$ "https\:\/\/www\.mukemmeltarifler\.com\/" [R=301,L]
RewriteRule ^(.*).html$ $1.php [L,NC]
RewriteRule ^sitemap.xml$ sitemap.php [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
ErrorDocument 404 https://www.mukemmeltarifler.com/404
